/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 0px.
		Leftover space for scrollbars @1024px: 32px.
--------------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10     11
px      68    160    252    344    436    528    620    712    804    896    992    */


.body{
	width: 992px;
	padding: 0px 0px 0px;
}



/*		Tablet Layout: 1280px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10     11      12      13      14
px      68    160    252    344    436    528    620    712    804    896    992     1014    1106    1198*/

@media only screen and (min-width: 1236px) {
	
	.body {
		font: 13px tahoma, sans-serif;
		width: 1198px;
		padding: 0px 0px 0px;
	}
	header{
		background: transparent url(../img/layout/header-bg-1280.png)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/header-bg-1280.png*/ no-repeat center bottom;
	}
	.page header{
		background: transparent url(../img/layout/page-header-bg-1280.png)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/page-header-bg-1280.png*/ no-repeat 0 -2px;
	}
	header .logo{
		/*padding: 40px 0 0 45px;*/
		padding: 0;
		width: 530px;
		height: 143px;
	}
	header .logo img{
		max-width: 530px;
	}
	nav{
		width: 828px;
		background: transparent url(../img/layout/nav-bg-1280.png)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/nav-bg-1280.png*/ no-repeat;
		margin: 8px 10px 0;
	}
	nav #home, nav #kontakt{
    		width: 42px;
	}
	nav li{
		margin: 0 11px;
		width: 121px;
	}
	.page nav{
		/*width: 940px;*/
		background: transparent url(../img/layout/page-nav-bg-1280.png)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/page-nav-bg-1280.png*/ no-repeat;
	}
	nav li.current a, nav li.hover a{
		background: transparent url(../img/layout/nav-li-a-current-1280.gif)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/nav-li-a-current-1280.gif*/ no-repeat top left;
	}
	nav li.hover a.sub{
		background: transparent url(../img/layout/nav-li-a-sub-current-1280.gif)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/nav-li-a-sub-current-1280.gif*/ no-repeat top left;
	}
	#slider{
		width: 822px ;
		height: 246px;
	}
	#main_panel {
		width: 702px;
	}
	#main_panel .title{
		background: transparent url(../img/layout/main_panel-title-1280.png)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/main_panel-title-1280.png*/ no-repeat left top;
	}
	#main_panel div.header .title{
		background: transparent url(../img/layout/main_panel-title-red-1280.png)/*tpa=http://www.zsoms1.bialystok.pl/img/layout/main_panel-title-red-1280.png*/ no-repeat left top;
	}
	div.foto{
		width: 169px;
	}
	div.foto img{
		width: auto;
	}
	.ourvideo .areabox{
    		width: 530px;
	}
	.hideButton {
		float: left;
		width: 130px;
	}
	footer .inside{
		width: 1198px;
	}
	footer #short-track{
		width: 470px;
	}
	footer #contact{
		width: 402px;
		padding-top: 40px;
	}
	#contact .i1{
		float: left;
		width: 170px;
	}
	#contact .i2{
		float: left;
		width: 210px;
		padding-top: 7px;
	}
	.wydarzenia .t{
		width: 447px;
	}
	.media .foto-right{
		max-width: 120px !important;
	}
	.media .foto-left{
		max-width: 120px !important;
	}
	article img{
		max-width: 652px !important;
	}
	.media img{
		max-width: 500px !important;
	}

	#catapult-cookie-bar .ins{
   		width: 1198px;
	}
	
	.holiday-childs{
		display: block;
	}
	.holiday-link{
		left: 780px;
	}

	/*.komunikaty .orange-btn{
		background: transparent url(../img/layout/red-large-1280.png) no-repeat 0 0;
	}
	.komunikaty .read{
		background: transparent url(../img/layout/orange-large-1280.png) no-repeat 0 0;
	}*/

	table tbody td{
    		font-size: 13px;
	}

	.home .btn-zsoms{
		padding: 0 8px 1px;
	}
	.home .virtual_gallery{
		margin-right: 2px;
	}
}


